mat-card {
  margin: 40px;
}

.myclass1{
  font-size: 12px;
  color: lawngreen;
  background-color: lightcoral;
  padding: 10px;
}

.myclass2{
  font-size: 20px;
  color: #2f5508;
  background-color: #583030;
  padding: 10px;
}

.myclass3{
  font-size: 30px;
  color: #121d08;
  background-color: #310d0d;
  padding: 10px;
}

.myclass4{
  font-size: 40px;
  color: #549415;
  background-color: #af3737;
  padding: 10px;
}
